<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"> -->
</head>

<body>

<div>

  <!-- flash message for invalid geolocation input -->
  {% with messages = get_flashed_messages() %}
    {% for message in get_flashed_messages() %}
      {{ message }}
    {% endfor %}
  {% endwith %}

  <form action="/" method="POST">
    <!-- dropdown menu for state input -->
    <select name="state_input">
      {% for state in states %}
      <option value="{{ state }}">{{ state }}</option>
      {% endfor %}
    </select>
    <!-- textbox for city input -->
    <input type="text" name="city_input">
    <!-- submit button -->
    <input type="submit" value="See Map">
  </form>

</div>

</body>

</html>
